<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Gowun+Dodum&family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/tour.css">  <!--css연동-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>모빌라이프</title>
</head>
<nav>
    <div class="wrap">
        <div class="intro"> <!--홈화면 상단 -->
            <div class="header">
                <div class="searchArea">
                    <form>
                        <input type="search" placeholder="Search">
                        <span>검색</span>
                    </form>
                    
                </div>
                
                <ul class="nav">
                    <li>
                        <a href="<%= name %>home.html">홈</a>
                        <ul class="submenu">
                            <li><a href="#"></a></li>
                            <li><a href="#">submenu02</a></li>
                            <li><a href="#">submenu03</a></li>
                            <li><a href="#">submenu04</a></li>
                            <li><a href="#">submenu05</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="<%= name %>tour.html">관광정보</a>
                        <ul class="submenu">
                            <li><a href="<%= name %>map.html">지도</a></li>
                            <li><a href="#">주요관광지</a></li>
                            <li><a href="#">추천경로</a></li>
                            <li><a href="#">submenu04</a></li>
                            <li><a href="#">submenu05</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="<%= name %>#">취업정보</a>
                        <ul class="submenu">
                            <li><a href="#">submenu01</a></li>
                            <li><a href="#">submenu02</a></li>
                            <li><a href="#">submenu03</a></li>
                            <li><a href="#">submenu04</a></li>
                            <li><a href="#">submenu05</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="<%= name %>area.html">제주살이</a>
                        <ul class="submenu">
                            <li><a href="#">submenu01</a></li>
                            <li><a href="#">submenu02</a></li>
                            <li><a href="#">submenu03</a></li>
                            <li><a href="#">submenu04</a></li>
                            <li><a href="#">submenu05</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</nav>
